html, body {
    height: 100%;
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #28262a;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

header, footer {
    width: 100%;
    background-color: #757091;
    color: #dad7e8;
    padding: 10px 10px;
}

header {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 25px;
    text-align: center;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url('../imagenes/concierto.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8); 
    background-blend-mode: overlay; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
}

.banner-title {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.banner-text {
    font-size: 20px;
    color: #dad7e8;
    max-width: 600px;
    margin: 20px auto;
}

.btn-lg {
    font-size: 20px;
    padding: 12px 25px;
}

.btn-primary {
    background-color: #49336d; 
    border-color: #49336d;
}

.btn-primary:hover {
    background-color: #757091; 
    border-color: #757091;
}

@media (max-width: 768px) {
    .banner-title {
        font-size: 36px;
    }

    .banner-text {
        font-size: 18px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .btn-lg {
        font-size: 18px;
        padding: 10px 20px;
    }
}


a {
    color: inherit; 
    text-decoration: none; 
}
  
a:hover {
    color: #fff;
    text-decoration: none;
}
